.tagcloud{
    a{
        font-size: 14px !important;
        font-weight: 800;
        display: inline-block;
        margin: 0 5px 10px;
        position: relative;
        border-bottom-style: solid;
        border-bottom-width: 2px;
        text-transform: uppercase;
    }
}